@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family:'Poppins', 'Agency FB', 'Montserrat', 'Noto Sans KR', sans-serif;
    --color-main:#F13F7F;
    --color_main_d:#ECB8CA;
    --color-sub:#f869f8;
    --color-r2:#7e8ad6;
    --color-r3:#14011c;
    --color-white:#ffffff;
    --color-black:#F13F7F;
    --color-subwhite:#f5f5f5;
    --color-gray:#dddddd;
    --color-lgray:#999999;
    --font-black:900;
    --font-extra-bold:800;
    --font-bold:700;
    --font-semi-bold:600;
    --font-medium:500;
    --font-regular:400;
    --font-light:300;
    --font-thin:100;
}

*{margin:0;padding:0;border:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;text-decoration:none;}
html{font-size:62.5%;background:black;}
body{line-height:1.7;}
.container{width:90vw;margin:0 auto;}
h1,h2,h3,h4,h5,h6,p{line-height:1.2;letter-spacing:-0.075em;}
h1{font-size:6rem;}
h2{font-size:4.8rem;}
h3{font-size:3.6rem;}
h4{font-size:2.4rem;}
h5{font-size:1.8rem;}
h6{font-size:1.6rem;}
p{font-size:1.4rem;}
span{font-size:1.2rem;}
#agency_txt{font-family:'Agency FB';letter-spacing:-0.075rem;}
li{list-style:none;}
a{color:var(--color-black);}
img{width:100%;display:block;object-fit:cover;}

/* side_nav */
.side_nav{position:fixed;left:95%;top:90%;z-index:100;width:65px;transform: translate(-50%,-50%);animation: scale_move 1s 0.5s infinite ease-in-out;cursor: pointer;}
.side_nav ul li{margin-bottom:10px;}

/* nav */
.hamburger_btn{position:absolute;left:95%;margin-top:10px;display:none;}
.hamburger_btn img{width:50px;}
.nav_line{width:20px;height:4px;background-color:var(--color-subwhite);margin-bottom:4px;}

/* header */
#header{width:100%;background-color:black;z-index:101;height:92px;position:fixed;z-index:1001;transition:all 0.3s 0.3s ease-in-out;}
.logo{width:152px;}
.header_container{display:flex;align-items:center;position:relative;max-width:1500px;align-items:center;height:100%;flex-flow:row wrap;justify-content:space-between;}
.header_nav_list{text-align:center;display:none;}
.header_nav_list li a{color:var(--color-main);font-size:2.8rem;font-weight:var(--font-bold);margin-right:15px;}
.header_gnb ul{display:flex;gap:6rem;}
.header_gnb ul li a{font-size:1.7rem;color:var(--color-subwhite);font-weight:var(--font-light);}
/* openstyle */
.openbit_header_nav_list{margin-left:auto;}
.openbit_header_nav_list ul{display:flex;}
.openbit_header_nav_list ul li a{font-size:1.8rem;padding-right:2.9rem;color:rgb(7, 35, 44);font-weight:var(--font-medium);}
.nav_top_info{width:100%;display:flex;justify-content:flex-end;}
.nav_top_info{font-size:1.4rem;}
.nav_top_info>div{margin-right:8px;}
.time_over{border:1px solid rgb(118, 118, 118)}
.time_over, .my_id_btn, .logout_btn{padding:0.15rem 1.7rem;border-radius:12px;}
.my_id_btn, .logout_btn{background-color:rgb(55, 113, 243);color:white;font-weight:var(--font-medium);}
.trading_btn{background-color:rgb(232, 246, 249);padding:1rem;border-radius:8px;height:34px;margin-left:12px}
.trading_btn p{color:rgb(36, 96, 254);font-weight:var(--font-semi-bold);font-size:1.3rem;}


/* main */
/* title */
.sec_title{background-image:url(../images/neon_city_background.jpg);background-repeat:no-repeat;background-size:cover;height:100vh;}
.sec_title_container{height:100%;display:flex;align-items:center;}
.sec_title_contents{display:flex;flex-flow:row;margin:0 auto;width: 100%;}
.sec_title_left_box{flex:5;margin-right:2rem;border:1rem solid var(--color-main);}
.sec_title_right_box{flex:5;background:rgba(0, 0, 0, 0.635);position:relative;z-index:101;padding:5rem;overflow:hidden;}
.sec_title_right_box h3{font-size:8rem;font-weight:var(--font-semi-bold);color: var(--color-main);}
.sec_title_right_box p{font-size:2.5rem;font-weight:var(--font-medium);color:var(--color_main_d);margin-right:10rem;}
.sec_title_right_box img{width:26.5%;z-index:-1;position:absolute;left:71%;top:20%;z-index:-1;}
.sec_title_right_box .story_more{font-size:1.6rem;color:var(--color-main);font-weight:var(--font-medium);width:100%;}
#story_link{text-align:end;}

/* nft */
.sec_nft_main_slide{z-index:102;}
.sec_nft_title{margin:15rem  auto 6rem auto;width:90vw;}
.sec_nft_title h4{color:var(--color_main_d);text-align:center;font-weight:var(--font-medium);font-size:2rem;}
.sec_nft_title h2, .sec_nft_footer{margin:0 auto;text-align:center;font-weight:var(--font-semi-bold);color:var(--color-main);}
.sec_nft{overflow:hidden;background-image:url(../images/nft_background.jpg);background-size:cover;background-repeat:no-repeat;background-attachment:fixed;}
.sec_nft_main_slide{width:100%;}
.sec_nft_footer{margin:6rem auto 20rem auto;display:flex;justify-content:center;}
.sec_nft_footer a:first-child{margin-right:2rem;}
.sec_nft_footer a img{padding:1rem;border:2px solid var(--color-main);border-radius:1rem;}


/* sec_story */
.sec_story{z-index:103;background-image:url(../images/story_background.jpg);background-size:cover;background-repeat:no-repeat;height:100vh;display:flex;align-items:center;background-attachment: fixed;}
#STORY02{background-image:url(../images/story_background02.jpg);background-repeat:no-repeat;background-size:cover;}
.sec_story_container{display:flex;position:relative;align-items: center;max-width:1500px;border:3px solid #F13F7F;border-radius:1rem;background:rgba(0, 0, 0, 0.585);padding:5rem 0;}
.sec_story02_container{flex-flow:row-reverse;}
.sec_leftbox{flex:1;}
.sec_leftbox img{width:500px;margin:5rem auto;border-radius:1rem;}
.right_textbox{flex:1;}
.sec_story_box{margin:0 10% 0 0%;}
.sec_story_box02{margin:0 0 0 20%;}
.sec_story_box p{margin-bottom:1rem;font-size:1.8rem;font-weight:var(--font-medium);color:var(--color_main_d);}
.sec_story_box h4{font-size:3.2rem;font-weight:var(--font-medium);color:var(--color-main);}
.sec_story_title{display:flex;margin-bottom:1.5rem;}
.sec_story_title h2{color:var(--color-main);font-weight:var(--font-semi-bold);font-size:5rem;}

/* roadmap */
.sec_roadmap{background-image:url(../images/roadmap_background.jpg);height:auto;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;}
.roadmap_area{display:flex;flex-flow:column;margin:0 auto;padding-bottom:150px;max-width:768px;position:relative;}

.roadmap_title h2{text-align:center;margin:0 auto;padding-top:5rem;margin-bottom:15rem;font-weight:var(--font-semi-bold);color: var(--color-main);}
.roadmap_box{width:300px;height:150px;background-color:#0000004d;border-radius:15px;position:relative;border:1px solid var(--color-main);}
.roadmap_box:hover{background-color:#000000a7;}
.roadmap_box::before{position:absolute;left:0;top:50%;content:'';display:block;}
.roadmap_box:nth-of-type(2n-1)::after{content:'';display:block;position:absolute;top:50%;left:126%;width:20px;height:20px;border-radius:50%;background-color:var(--color-main); animation:scale_move 1s 0.5s infinite ease-in-out;}
.roadmap_box:nth-of-type(2n)::after{content:'';display:block;position:absolute;top:50%;right:124.5%;width:20px;height:20px;border-radius:50%;background-color:var(--color-main);animation:scale_move 1s 0.5s infinite ease-in-out;}
.roadmap_box:nth-of-type(2n){align-self:flex-end;}
.roadmap_box_mission{position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);text-align:center;width:100%;}
.roadmap_box .roadmap_box_mission h6{font-weight:var(--font-regular);color:var(--color-white);transition:all 0.2s ease-in-out;}
.roadmap_box .roadmap_box_mission h6:first-child{font-weight:var(--font-medium);color:var(--color-main);}
.roadmap_box .roadmap_box_mission h6:last-child{font-weight:var(--font-light);color:var(--color-gray);}
.roadmap_box .mission_num{position:absolute;left:50%;top:0%;border-radius:50px;background:linear-gradient(to right, #F13F7F, #f13f8094);width:30px;height:30px;transform: translate(-50%,-50%);}
.mission_num span{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:2rem;color:var(--color-subwhite);font-weight:var(--font-bold);}
.roadmap_sendbox{width:100%;display:flex;justify-content:center;margin:0 auto;padding-bottom:150px;}
.roadmap_sendbox input{width:250px;height:75px;border-radius:15px;cursor:pointer;background:linear-gradient(to right, #F13F7F, rgba(60, 94, 168, 0.808));font-size:1.8rem;font-weight:var(--font-light);color:var(--color-subwhite);margin-right:10px;}
.roadmap_area::after{content:'';display:block;position:absolute;width:4px;height:82%;background-color:var(--color-main);left:50%;top:5%;}

/* sec_team */
.sec_team{background-image:url(../images/123.png);background-repeat:no-repeat;background-size:cover;}
.sec_team_container{padding:200px 0;}
.sec_team_title{margin-bottom:50px;text-align:center;}
.sec_team_title h2{display:flex;justify-content: center;}
.sec_team_title h2:first-child{font-size:3.6rem;font-weight:var(--font-semi-bold);color:var(--color-subwhite);}
.sec_team_title h2 span{color:var(--color-main);font-weight:var(--font-semi-bold);font-size:3.6rem;letter-spacing:-0.3rem;margin-top:1.3rem;}
.sec_team_title h2:last-child{font-size:8rem;font-weight:var(--font-semi-bold);color:var(--color-subwhite);}
.sec_team_contents{display:grid;grid-template-columns:4fr 4fr 4fr;justify-content:center;width:40%;margin:0 auto;gap:2rem;}
.producer{position:relative;}
.producer img{width:100%;}
.producer_name{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;}
.producer_name h4{font-size:2.4rem;font-weight:var(--font-semi-bold);color:var(--color_main_d);text-align:center;}
.producer_name h4:last-child{color:var(--color-main);font-size:4.8rem;}

/* footer */
#footer{background-color:#100f0f;width:100%;height:300px;transition:all 1s ease-in-out;}
.footer_container{display:flex;height:300px;align-items:center;flex-flow:row;justify-content:center;}
.footer_logo img{width:100px;}
.footer_container p,span{font-size:1.6rem;font-weight:var(--font-regular);color:var(--color-lgray);text-align:center;}
.footer_container address{text-align:center;margin:0 auto;}
#footer .link_icons{display:flex;flex-flow:row;gap:1rem;margin-top:1rem;}
#footer .link_icons img{width:30px;}

/* swiper */ 
.swiper-container, .swiper-container2{margin:15px 0;}
.swiper-container-free-mode > .swiper-wrapper{transition-timing-function :linear;}
.swiper-slide {background-position: center center;background-size: cover;position:relative;padding:5px;}
.swiper-slide{transition:all 0.2s ease-in-out;}
.swiper-container3 .swiper-slide img{padding:1rem;}
.swiper-slide::before{content:'';display:block;position: absolute;left:0;top:0;right:0;bottom:0;border:3px solid #62cc99;border-image:linear-gradient(to right, #F13F7F 0%, #F13F7F 100%);border-image-slice:1;}
.swiper-slide .vip_icon{position:absolute;left:85%;top:0;}
@keyframes bubble_move {
  0% {
    transform:translateY(0px);
  }
  50% {
    transform:translateY(7px);
  }
  100% {
    transform:translateY(0px);
  }
}
@keyframes scale_move {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.1);
  }
  100% {
    transform:scale(1);
  }
}
@media screen and (max-width:1500px){
.sec_title_contents{flex-flow:column-reverse;}
.sec_title_left_box{border:none;background:rgba(0, 0, 0, 0.635);margin-right:0;}
.sec_title_left_box img{width:500px;margin:0 auto 6rem auto;}
.sec_title_right_box img{display:none;}
.sec_title_right_box p:last-of-type{display:none;}
}
@media screen and (max-width:1432px){
/* sidenav */
.side_nav{width:4rem;left:47%;top:92%;}
.sec_story{height:auto;padding:5rem 0;}
.sec_story_container{flex-flow:column;padding: 2rem;background:rgba(0, 0, 0, 0.835);}
.sec_story_box{width:100%;margin:0 auto;}
.sec_leftbox img{width:100%;}
.producer_name h4{font-size:2.4rem;}

.sec_team_contents{width:50%;}

}
@media screen and (max-width:1305px){
  
#header{height:auto;}

/* team */
.sec_team_title h2:first-child{font-size:3.2rem;}
.sec_team_title h2 span{font-size:3rem;margin-top:1rem;}
.sec_team_title h2:last-child{font-size:6rem;}
.producer_name h4:last-child{font-size:3.6rem;}
/* team */
}
@media screen and (max-width:1000px){
/* team */
.producer_name h4:last-child{font-size:2.8rem;}
/* team */
}
@media screen and (max-width:853px){
  .roadmap_box:nth-of-type(2n-1)::after{display:none;}
  .roadmap_box:nth-of-type(2n)::after{display:none;}
  .roadmap_area::after{display:none;}

  .sec_title_right_box{padding:2rem;}
  .sec_title_right_box h3{font-size:5rem;}
  .sec_title_right_box p{font-size:2rem;margin-right:0;}
  .sec_title_left_box img{padding:2rem;width:100%;}
}
@media screen and (max-width:768px){


.header_container{flex-flow:column;align-items:flex-start;width:95vw;justify-content:center;}
.header_nav_list{flex-flow:column;width:106%;align-items:center;position:absolute;top:100%;left:-3%;background-color:rgba(0, 0, 0, 0.867);}
.header_nav_list li a{margin-right:0;font-size:1.6rem;color:var(--color-main);}
.header_nav_list li{padding:15px;}
.header_nav_list li:last-child{margin-bottom: 15px;}
.header_nav_list li:hover{background-color:#588a7359;}
.hamburger_btn{display:block;left:94%;}
.header_nav_list.active{display:block;}
.header_gnb{display:none;}


#header{height:64px;}
.logo img{width:120px;}
.nav_top_info,.openbit_header_nav_list,.trading_btn,.nine_menubar{display:none;}



.roadmap_area{padding-bottom:50px;}
.roadmap_sendbox{flex-flow:column;width:auto;}
.roadmap_sendbox input{width:100%;margin-bottom:5px;}
.producer_name h4{font-size:2rem;}
.sec_team_contents{grid-template-columns:6fr 6fr;}


/* story */
.right_textbox{width:100%;margin-right:0px;}
.sec_leftbox img{width:100%;}
.sec_story_box{width:100%;}
.sec_story_container{flex-flow:column;border:none;}
.sec_story_title h2{font-size:4rem;}
.sec_story_box p{margin-bottom:1rem;font-size:1.4rem;font-weight:var(--font-medium);}
.sec_story_box h4{font-size:2.8rem;font-weight:var(--font-semi-bold);}

.footer_container p,span{font-size:1.5rem;}
.footer_logo img{width:75px;margin:5px;}
.footer_container address span:nth-of-type(1){display:block;}
}

@media screen and (max-width:673px){
.roadmap_box{margin-bottom:20px;width:100%;}
.sec_team_contents{grid-template-columns:12fr;}
/* nft */
.sec_nft_title h4{font-size:1.4rem;}
.sec_nft_title h2{font-size:3rem;}
.sec_nft_footer img{width:150px;}
/* nft */
.roadmap_box .mission_num{width:40px;height:40px;}
.roadmap_area::after{display:none;}
.sec_leftbox{overflow:hidden;}

/* ------story */
.sec_blood_event_left_area h2{font-size:3rem;}
.sec_blood_event_left_area h2 strong{font-size:3.5rem;}
.sec_blood_event_left_area p{padding-right:0;}
.sec_blood_event_left_area p:last-child{margin-bottom:2rem;}
.mix_items{width:100px;}
.mix_items p{font-size:1.2rem;}
.plus h1,.result h1{font-size:3rem;}
/* ------story */
/* footer */
.footer_container{flex-flow:column;}
/* footer */
}@media screen and (max-width:440px){

 /* title */

.sec_title_right_box p{font-size:1.6rem;}
.sec_title_right_box h3{font-size:2.4rem;}
 /* story */
 .sec_leftbox img{margin:2.5rem auto;}
 /* story */
/* nft */
.sec_nft_title{margin:8rem auto 6rem auto;}
.sec_nft_footer{margin:6rem auto 10rem auto;}
.sec_nft_footer img{width:100px;}
/* nft */
/* roadmap */
.roadmap_title h2{font-size:4rem;}
/* roadmap */
/* team */
.sec_team_container{padding:10rem 0;}
.sec_team_title h2:first-child{font-size:2.6rem;}
.sec_team_title h2 span{font-size:1.4rem;}
.sec_team_title h2:last-child{font-size:5rem;}
/* team */
}
@media screen and (max-width:390px){
.container{width:90vw;}
.sec_nft_title img{width:150px;}
.sec_nft_footer{width:7.5rem;margin:2rem auto 10rem auto;}
.sec_nft_title{justify-content:center;}

.sec_story_title #agency_txt{font-size:4rem;}
.sec_story_box p{margin-bottom:1rem;font-size:1.2rem;font-weight:var(--font-medium);}
.sec_story_box h4{font-size:2rem;font-weight:var(--font-semi-bold);}

.right_textbox{width:100%;margin-right:0px;}
.roadmap_box{height:125px;}
.roadmap_box_mission h5{font-size:1.4rem;}
.roadmap_sendbox{padding-bottom:30px;}
.roadmap_sendbox input{font-size:1.4rem;}



}